


































































.botoes__ancora{
 background-color:var(--laranja);
 padding: 1em 2.2em;
 color: var(--branco);
 font-weight:700
 text-decoration:nome
}

.botoes-item{
 margin:0 0.5em;
}

 
